html,
body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
  padding: 0;
  z-index: -1;
}

.App {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-gap: 10px;
  grid-template-rows: 110px 1fr;
  grid-template-columns: 110px 1fr;
  grid-template-areas: 
  "header header" 
  "side main";
}

.header {
  grid-area: header;
  display: flex;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.main {
  grid-area: main;
}

.side {
  display: flex;
  flex-direction: column;
  grid-area: side;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  align-items: center;
}

.addEventButton {
  background-color: #555;
  color: white;
  width: 90%;
  height: 10%;
  margin-top: 5px;
  border-radius: 7px;
  cursor: pointer;
  opacity: 0.8;
  white-space: normal;
}

.popupForm {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 300px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -150px; 
  margin-left: -125px; 
  border: 3px solid;
  justify-content: center;
  z-index: 100;
  background-color: white;
  display: none;
}

label {
  font-weight: bold;
}

h2 {
  margin: auto;
}

