html,
body {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	margin: 0;
  padding: 0;
}

.App {
	display: grid;
	height: 100vh;
	width: 100vw;
	grid-gap: 10px;
  grid-template-rows: 110px 1fr;
  grid-template-columns: 110px 1fr;
  grid-template-areas: 
  "header header" 
  "side main";
}

.header {
  grid-area: header;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: #172efc;
}

.main {
  grid-area: main;
}

.side {
  grid-area: side;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  background-color: #172efc;
}

label { /* TEMP */
  color: white;
}